<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script>
    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/audioStream', function (message) {
            showMessage(JSON.parse(message.body).content);
        });
    });

    function sendMessage() {
        const message = document.getElementById('message').value;
        stompClient.send("/app/hello", {}, JSON.stringify({ 'role':'user', 'content': message }));
    }

    function showMessage(message) {
        const messages = document.getElementById('messages');
        const p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.appendChild(document.createTextNode(message));
        messages.appendChild(p);
    }
</script>

<input type="text" id="message" placeholder="Enter your message">
<button onclick="sendMessage()">Send</button>

<div id="messages"></div>

</body>
</html>
